<!-- This will read a camera and show a streaming feed in a display window. -->

<launch>

  <arg name="video_device" default="1" />
  <arg name="view_img" default="true" />

  <node name="usb_cam" pkg="usb_cam" type="usb_cam_node" output="screen" >
    <param name="video_device" value="/dev/video$(arg video_device)"/>
    <param name="image_width" value="1920"/>
    <param name="image_height" value="1080"/>
  </node>

  <group if="$(eval arg('view_img') ==true)">
    <node name="image_view" pkg="image_view" type="image_view" respawn="false" output="screen">
      <remap from="image" to="/usb_cam/image_raw"/>
      <param name="autosize" value="true" />
    </node>
  </group>
  
</launch>
